<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Teste de conexão -->
    <servlet>
        <servlet-name>TesteConexao</servlet-name>
        <servlet-class>controller.TesteConexaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TesteConexao</servlet-name>
        <url-pattern>/teste-conexao</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

    <!-- Login de usuário -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Listagem e cadastro de livros -->
    <servlet>
        <servlet-name>LivroServlet</servlet-name>
        <servlet-class>controller.LivroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivroServlet</servlet-name>
        <url-pattern>/livros</url-pattern>
    </servlet-mapping>

    <!-- Atualização de perfil de usuário -->
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>controller.PerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/PerfilServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>


    <!-- Filtro de autenticação -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
    <servlet-name>AutorController</servlet-name>
    <servlet-class>controller.AutorController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AutorController</servlet-name>
    <url-pattern>/autor</url-pattern>
</servlet-mapping>

</web-app>
